body {
    background: #1f1f1f;
    text-align: center;
}

canvas {
    border: 1px solid gray;
    border-radius: 10px;
}

p {
    font-family: 'Indie Flower', cursive;
    font-family: 'Shrikhand', cursive;
    font-family: 'Miltonian Tattoo', cursive;
    font-family: 'Irish Grover', cursive;
    font-family: 'Henny Penny', cursive;
}

#loc p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 18px;
}